@use './../../../../utils/miscFonts.scss' as fonts;
@use './../../../../constants/colors.module.scss' as color;

.title {
  @include fonts.uppercase-font;
  font-size: 22px;
  line-height: 1.4;
  padding-bottom: 16px;
  border-bottom: 1px solid color.$icons;
}

.about {
  grid-column: 1 / 13;
  width: 100%;
}

.aboutItem {
  margin-top: 32px;
}

.aboutItemTitle {
  @include fonts.button-font;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}

.aboutItemText {
  @include fonts.button-font;
  color: color.$secondary;
}

.tech {
  grid-column: 14 / 25;
}

.techList {
  margin-top: 32px;
}

.techItem {
  @include fonts.button-font;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.techTitle {
  color: color.$secondary;
}