@use '/src/constants/colors.module.scss' as color;
@use '/src/utils/miscFonts.scss' as fonts;
@use '/src/utils/desktopHeaderFonts.scss' as dHF;
@use '/src/utils/mediaQueries.module.scss' as mQ;

.signUpPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
