@use '/src/utils/miscFonts.scss' as mF;
@import '/src/constants/colors.module.scss';

.container {
  display: flex;
  grid-column: 1 / -1;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding-top: 10px;
  width: 90%;
  height: 30px;

  .inputContainer {
    position: relative;
    flex: 1;

    .input {
      outline: none;
      border: none;
      border: $secondary 1px solid;
      border-radius: 0 10px 10px 0;
      width: 100%;
      height: 30px;
      text-align: center;
      @include mF.body-font;

      &:focus {
        border: $primary 2px solid;
      }
    }

    .itemsContainer {
      position: absolute;
      top: 100%;
      z-index: 10;
      background-color: $white;
      width: 100%;
      max-height: 310px;
      overflow-y: scroll;

      .item {
        display: flex;
        align-items: center;
        box-sizing: content-box;
        border-bottom: $primary 1px solid;
        background-color: $white;
        height: 50px;
        text-decoration: none;

        &:hover {
          background-color: $elements;
        }

        .imgContainer {
          align-self: flex-start;
          padding: 5px 20px;

          .img {
            height: 40px;
          }
        }

        .name {
          padding-right: 10px;
          @include mF.body-font;
          overflow: hidden;
          color: $primary;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .iconContainer {
    display: flex;
    align-items: start;

    .icon {
      scale: 1.5;
    }
  }
}
