@use './../../utils/miscFonts.scss' as fonts;
@use './../../constants/colors.module.scss' as color;
@use '/src/utils/mediaQueries.module.scss' as mQ;

.container {
  width: 287px;
  padding: 32px;
  border: 1px solid color.$elements;
  color: color.$primary;

  @include mQ.tablet {
    width: 229px;
  }

  @include mQ.desktop {
    width: 272px;
  }
}

.sliderCardContainer {
  width: 212px;
  padding: 32px;
  border: 1px solid color.$elements;
  color: color.$primary;

  @include mQ.tablet {
    width: 237px;
  }

  @include mQ.desktop {
    width: 272px;
  }
}

.link {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.image {
  width: 223px;
  height: 130px;
  object-fit: contain;

  @include mQ.tablet {
    width: 165px;
    height: 196px;
  }

  @include mQ.desktop {
    width: 208px;
    height: 196px;
  }
}

.sliderCardImage {
  width: 148px;
  height: 129px;
  object-fit: contain;

  @include mQ.tablet {
    width: 173px;
    height: 202px;
  }

  @include mQ.desktop {
    width: 208px;
    height: 196px;
  }
}

.name {
  @include fonts.body-font;

  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  color: color.$primary;
  height: 40px;
  transition: color 0.3s ease;

  &:hover {
    color: color.$secondary;
  }
}

.price {
  @include fonts.uppercase-font;

  margin-bottom: 8px;
  font-size: 22px;
}

.currentPrice {
  line-height: 50px;
  margin-right: 8px;
}

.fullPrice {
  line-height: 50px;
  text-decoration: line-through;
  color: #89939a;
}

.detailsList {
  padding-top: 16px;
  border-top: 1px solid color.$elements;
  margin-bottom: 16px;
  padding-inline-start: 0;
}

.detailsItem {
  @include fonts.button-font;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
}

.detailsTitle {
  line-height: 15px;
  color: color.$secondary;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addToCard {
  flex-grow: 1;
  margin-right: 8px;
}

.addToFavorite {
  padding: 11px;
  border: 1px solid color.$elements;

  &:hover {
    border-color: color.$secondary;
  }
}
