.container {
  width: 272px;
  padding: 37px 24px 24px;
  // border: 1px solid var(--c-elements);
  border: 1px solid #e2e6e9;
  color: var(--c-primary);
}

.link {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.image {
  width: 128px;
  height: 172px;
}

.name {
  font-family: 'Mont';
  src: url(./../../../public/fonts/Mont-Regular.otf);
  font-style: normal;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--c-primary);
  height: 40px;
  transition: color 0.3s ease;

  &:hover {
    // color: var(--c-secondary);
    color: #89939a;
  }
}

.price {
  font-family: 'Mont Bold';
  font-weight: 700;
  src: url(./../../../public/fonts/Mont-Bold.otf);
  font-style: normal;
  margin-bottom: 8px;
  font-size: 22px;
}

.currentPrice {
  line-height: 50px;
  margin-right: 8px;
}

.fullPrice {
  line-height: 50px;
  text-decoration: line-through;
  // color: var(--c-secondary)
  color: #89939a;
}

.detailsList {
  padding-top: 16px;
  // border-top: 1px solid var(--c-elements);
  border-top: 1px solid #e2e6e9;
  margin-bottom: 16px;
  padding-inline-start: 0;
}

.detailsItem {
  font-family: 'Mont SemiBold';
  font-weight: 600;
  src: url(./../../../public/fonts/Mont-SemiBold.otf);
  font-style: normal;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
}

.detailsTitle {
  line-height: 15px;
  // color: var(--c-secondary);
  color: #89939a;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addToCard {
  flex-grow: 1;
  margin-right: 8px;
}

.addToFavorite {
  padding: 11px;
}