@use '/src/utils/miscFonts.scss' as fonts;
@use '/src/constants/colors.module.scss' as color;

.container {
  @include fonts.button-font;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
  border: color.$primary;
  background-color: color.$primary;
}

.isDisabled {
  cursor: auto;
}

.isSpaceBetween {
  justify-content: space-between;
}

.primary {
  transition: box-shadow 0.3s ease;
  border: 1px solid color.$primary;
  background-color: color.$primary;
  padding: 8px 4px;
  padding-inline-start: 0;
  color: color.$white;
  font-size: 14px;
  line-height: 22px;

  &.selected {
    border-color: color.$negative;
    background-color: color.$white;
    color: color.$positive;
  }

  &:hover {
    box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
  }
}

.secondary {
  // padding: 7px;
  border: 1px solid color.$icons;
  background-color: color.$white;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    border-color: color.$primary;
  }

  &.isDisabled {
    border-color: color.$elements;
  }
}

.transparent {
  transition: opacity 0.3s ease;
  border: none;
  background-color: transparent;
  padding: 0;

  &:hover {
    opacity: 0.85;
  }
}
