@use './../../utils/miscFonts.scss' as fonts;
@use './../../constants/colors.module.scss' as color;

.container {
  @include fonts.button-font;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color.$primary;
  border: color.$primary;
  transition: border-color 0.3s ease;
}

.isDisabled {
  cursor: auto;
}

.isSpaceBetween {
  justify-content: space-between;
}

.primary {
  padding: 8px 4px;
  padding-inline-start: 0;
  border: 1px solid color.$primary;
  background-color: color.$primary;
  line-height: 22px;
  font-size: 14px;
  color: color.$white;
  transition: box-shadow 0.3s ease;

  &.selected {
    background-color: color.$white;;
    color: color.$positive;
    border-color: color.$negative;
  }

  &:hover {
    box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
  }
}

.secondary {
  background-color: color.$white;
  // padding: 7px;
  border: 1px solid color.$icons;
  line-height: 20px;
  font-size: 14px;

  &:hover {
    border-color: color.$primary;
  }

  &.isDisabled {
    border-color: color.$elements;
  }
}

.transparent {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.85;
  }
}