@use '/src/utils/mediaQueries.module.scss' as mQ;

.page-grid {
  display: grid;

  @include mQ.phone {
    grid-template-columns: repeat(4, auto);
    column-gap: 16px;
  }

  @include mQ.tablet {
    grid-template-columns: repeat(12, auto);
    column-gap: 16px;
    padding: 0 0 8px 8px;
  }

  @include mQ.desktop {
    grid-template-columns: repeat(24, 32px);
    column-gap: 16px;
    justify-content: center;
  }
}
