@import '/src/utils/desktopHeaderFonts.scss';
@import '/src/utils/mobileHeaderFonts.scss';
@import '/src/utils/mediaQueries.module.scss';
@import '/src/constants/colors.module.scss';
@import '../Button/Button.module';

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: $white;
  width: 100%;
  height: 100%;

  @include h4-font;

  .title {
    @include h2-font;
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    text-align: center;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    .button {
      flex: 1;
      cursor: pointer;
      border-radius: 2px;
      padding: 12px;
      min-width: 170px;
      max-width: 180px;
      height: 40px;
      color: $primary;

      &:active {
        background-color: $primary;
        color: $white;
      }
    }

    .link {
      text-decoration: none;
    }

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@include tablet {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $icons;
    border-radius: 10px;
    padding: 35px;
    width: 60%;
    max-height: 150px;
  }
}
