@use '/src/utils/mediaQueries.module.scss' as mQ;
@use './../../utils/miscFonts.scss' as fonts;
@use './../../constants/colors.module.scss' as color;

.favoriteBadge {
  display: none;

  @include mQ.tablet {
    @include fonts.body-font;

    font-size: 9px;
    color: color.$white;
    position: absolute;
    top: 20px;
    right: 84px;
    background-color: color.$negative;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
