@use '/src/utils/miscFonts.scss' as fonts;
@use '/src/constants/colors.module.scss' as color;
@use '/src/utils/mediaQueries.module.scss' as mQ;

.wrapper {
  transition: width 0.5s ease;
  width: 288px;

  @include mQ.tablet {
    width: 237px;
  }

  @include mQ.desktop {
    width: 320px;
  }
}

.label {
  @include fonts.button-font;

  display: block;
  margin-bottom: 8px;
  color: color.$secondary;
  font-size: 12px;
  line-height: 15px;
}

.colors {
  margin-bottom: 24px;
  border-bottom: 1px solid color.$elements;
  padding-bottom: 24px;
}

.capacity {
  margin-bottom: 32px;
  border-bottom: 1px solid color.$elements;
  padding-bottom: 24px;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.colorsLink {
  display: block;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 1px color.$elements;
  border: 2px solid color.$white;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  &:hover {
    box-shadow: 0 0 0 1px color.$primary;
  }

  &.activeLink {
    cursor: default;
    box-shadow: 0 0 0 1px color.$primary;
  }
}

.capacityButton {
  padding: 4px 8px;
  line-height: 22px;

  &.capacityButtonActive {
    cursor: default;

    &:hover {
      box-shadow: unset;
    }
  }
}

.price {
  @include fonts.uppercase-font;

  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 41px;
}

.priceRegular {
  @include fonts.body-font;

  margin-left: 8px;
  color: color.$secondary;
  font-size: 22px;
  line-height: 28px;
  text-decoration: line-through;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.addToCard {
  flex-grow: 1;
  margin-right: 8px;
  padding: 12px 4px;
}

.addToFavorite {
  padding: 15px;
}

.infoItem {
  @include fonts.body-font;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  line-height: 15px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.infoTitle {
  color: color.$secondary;
}
