@use '/src/utils/mediaQueries.module.scss' as mQ;
@use '/src/utils/mobileHeaderFonts.scss' as mHF;
@use '/src/utils/miscFonts.scss' as mF;
@use '/src/utils/desktopHeaderFonts.scss' as dHF;
@use '/src/constants/colors.module.scss' as cM;

.favoritesPage {
  display: grid;
  justify-content: center;
  min-height: 100vh;

  @include mQ.phone {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin: 0 16px;
  }

  @include mQ.tablet {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding: 0 24px;
  }

  @include mQ.desktop {
    grid-template-columns: repeat(24, 32px);
    column-gap: 16px;
  }
}

@include mQ.phone {
  .title {
    @include mHF.h1-font;
    grid-column: span 4;

    margin-top: 24px;
    color: cM.$primary;
  }

  .subText {
    @include mF.body-font;

    grid-column: span 4;
    margin-top: 8px;
    color: cM.$secondary;
  }

  .cardsContainer {
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }

  .cardContainer {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
}

@include mQ.tablet {
  .title {
    @include dHF.h1-font;

    grid-column: span 12;
    margin-top: 40px;
  }

  .subText {
    grid-column: span 12;
  }

  .cardsContainer {
    column-gap: 16px;
    grid-column: span 12;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
}

@include mQ.desktop {
  .title {
    grid-column: span 24;
  }

  .subText {
    grid-column: span 24;
  }

  .cardsContainer {
    grid-column: span 24;
  }
}
