@font-face {
  src: url('../../public/fonts/Mont-Bold.otf');
  font-family: MontBold;
}
@font-face {
  src: url('../../public/fonts/Mont-Regular.otf');
  font-family: MontRegular;
}
@font-face {
  src: url('../../public/fonts/Mont-SemiBold.otf');
  font-family: MontSemiBold;
}

@mixin h1Font {
  font-size: 48px;
  line-height: 56px;
  font-family: 'MontBold';
  letter-spacing: -0.01em;
}
@mixin h2Font {
  font-size: 32px;
  line-height: 41px;
  font-family: 'MontBold';
  letter-spacing: -0.01em;
}
@mixin h3Font {
  font-size: 22px;
  line-height: 31px;
  font-family: 'MontBold';
  letter-spacing: 0;
}
@mixin h4Font {
  font-size: 20px;
  line-height: 26px;
  font-family: 'MontSemiBold';
  letter-spacing: 0;
}
