@font-face {
  src: url('../../public/fonts/Mont-Bold.otf');
  font-family: MontBold;
}
@font-face {
  src: url('../../public/fonts/Mont-Regular.otf');
  font-family: MontRegular;
}
@font-face {
  src: url('../../public/fonts/Mont-SemiBold.otf');
  font-family: MontSemiBold;
}

@mixin uppercaseFont {
  font-size: 12px;
  line-height: 11px;
  font-family: 'MontBold';
  letter-spacing: 0.04em;
}
@mixin buttonFont {
  font-size: 14px;
  line-height: 21px;
  font-family: 'MontSemiBold';
  letter-spacing: 0;
}
@mixin bodyFont {
  font-size: 14px;
  line-height: 21px;
  font-family: 'MontRegular';
  letter-spacing: 0;
}
@mixin smallFont {
  font-size: 12px;
  line-height: 15px;
  font-family: 'MontSemiBold';
  letter-spacing: 0;
}
