@use '/src/utils/mediaQueries.module.scss' as mQ;
@use '/src/utils/mobileHeaderFonts.scss' as mHF;
@use '/src/utils/miscFonts.scss' as mF;
@use '/src/utils/desktopHeaderFonts.scss' as dHF;
@use '/src/constants/colors.module.scss' as cM;

.phonesPage {
  display: grid;
  justify-content: center;

  @include mQ.phone {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin: 0 16px;
  }

  @include mQ.tablet {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding: 0 24px;
  }

  @include mQ.desktop {
    grid-template-columns: repeat(24, 32px);
    column-gap: 16px;
  }
}

@include mQ.phone {
  .title {
    margin-top: 24px;

    @include mHF.h1-font;

    grid-column: span 4;
    color: cM.$primary;
  }

  .subText {
    margin-top: 8px;

    @include mF.body-font;

    grid-column: span 4;
    color: cM.$secondary;
  }

  .filter {
    grid-column: span 2;
    margin-top: 32px;
  }

  .cardsContainer {
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
  }

  .cardContainer {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .pageSelector {
    grid-column: span 4;
    margin-top: 24px;
    margin-bottom: 64px;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 8px;
  }

  .pageNumber {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 8px;
    margin: 0 4px;
    border: 1px solid cM.$elements;
    color: cM.$primary;
    cursor: pointer;
    transition: border-color 0.3s;
    &:hover {
      border-color: cM.$primary;
      color: cM.$primary;
    }

    &.active {
      background-color: cM.$primary;
      color: cM.$elements;
    }
  }

  .pageSelector .arrowLeft,
  .pageSelector .arrowRight {
    display: inline-block;
    border: 1px solid cM.$elements;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 47px;
    height: 48px;
    place-self: center;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .pageSelector .arrowLeft:hover,
  .pageSelector .arrowRight:hover {
    border: 1px solid cM.$primary;
    transition: background-color 0.3s;
  }
}

@include mQ.tablet {
  .title {
    margin-top: 40px;

    @include dHF.h1-font;

    grid-column: span 12;
  }

  .subText {
    grid-column: span 12;
  }

  .filter {
    grid-column: span 4;
    margin-top: 40px;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-column: span 12;
    justify-content: center;
  }

  .pageSelector {
    grid-column: span 12;
    margin-top: 40px;
    margin-bottom: 64px;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 8px;
  }
}

@include mQ.desktop {
  .title {
    grid-column: span 24;
  }

  .subText {
    margin-top: 8px;

    @include mF.body-font;

    grid-column: span 24;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column: span 24;
    align-items: center;
  }

  .cardContainer {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .pageSelector {
    grid-column: span 24;
    display: grid;
    margin-top: 40px;
    margin-bottom: 80px;
    place-content: center;
    grid-auto-flow: column;
    gap: 8px;
  }
}
