@import '../../utils/miscFonts.scss';
@import '../../utils/mediaQueries.module.scss';
@import '../../constants/colors.module.scss';

.footer {
  row-gap: 32px;
  display: grid;
  margin-top: 64px;
  padding: 32px 0;
  border-top: 1px solid $elements;

  &__logo {
    grid-column: 1 / 5;
    height: 33px;
  }

  &__nav {
    grid-column: 1 / 5;
  }

  &__top-link {
    grid-column: 1 / 5;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  &__item {
    @include uppercase-font;
    color: $secondary;
    text-decoration: none;
  }
}

.top-link {
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__text {
    @include small-font;
    text-align: right;
    background-color: transparent;
    border: none;
    color: $secondary;
    text-decoration: none;
  }
}
