@import '../../utils/miscFonts.scss';
@import '../../utils/mediaQueries.module.scss';
@import '../../constants/colors.module.scss';

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 48px;
  column-gap: 16px;
  justify-content: start;
  gap: 16px;
  align-items: center;
  row-gap: 32px;
  margin-top: 64px;
  padding: 32px 16px;
  border-top: 1px solid $elements;

  &__logo {
    grid-column: 1 / 5;
    height: 33px;
    padding-left: 16px;

    @include desktop {
      grid-column: 1 / 7;
      padding-left: 0;
    }
  }

  &__nav {
    grid-column: 1 / 5;
    padding-left: 16px;

    @include desktop {
      grid-column: 7 / 19;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
    }
  }

  &__top-link {
    grid-column: 1 / -1;
    padding-left: 16px;

    @include desktop {
      grid-column: 19 / -1;
      padding-left: 0;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    @include uppercase-font;
    color: $secondary;
    text-decoration: none;
  }
}

.top-link {
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__text {
    @include small-font;
    text-align: right;
    background-color: transparent;
    border: none;
    color: $secondary;
    text-decoration: none;
  }
}
