@use '/src/utils/mediaQueries.module.scss' as mQ;
@import '/src/constants/colors.module.scss';

@include mQ.phone {
  .selectedImgContainer {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .selectedImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .secondaryImgsContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    margin-top: 16px;
    height: 55px;
  }

  .secondaryImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    overflow: hidden;
  }

  .secondaryImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .selected {
    box-sizing: content-box;
    border: 1px $primary solid;
  }
}

@include mQ.tablet {
  .selectedImgContainer {
    align-self: flex-start;
    margin-top: 0;
  }

  .selectedImg {
  }

  .secondaryImgsContainer {
    flex-direction: column;
    order: -1;
    margin-top: 0;
    margin-right: 16px;
    height: 300px;
  }

  .secondaryImgContainer {
    align-items: start;
  }

  .secondaryImg {
  }
}
