@import '../../constants/colors.module';
@import '../../utils/miscFonts';

.breadcrumbs {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 8px;
  color: $secondary;

  @include body-font;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .home,
  .arrowRight {
    display: flex;
    align-items: center;
  }
}
