@import '/src/utils/desktopHeaderFonts.scss';

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  @include h1-font;
}

.photo {
  height: 80vh;
}
