@use '/src/utils/desktopHeaderFonts' as dF;
@use '/src/utils/mobileHeaderFonts' as mHF;
@use '/src/utils/mediaQueries.module' as mQ;
@use '/src/constants/colors.module' as c;

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border: 1px solid c.$elements;
  background-color: c.$white;
  color: c.$primary;
  margin-bottom: 56px;

  .divLogo {
    padding: 18px 48px 18px 24px;
    width: 80px;
    height: 28px;
  }

  .navbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: c.$white;
    width: 100%;
    text-align: center;


    &.navbar_active {
      transform: translateX(0);
      top: 66px;
      height: calc(100vh - 65px);
    }

    .burgerIcons {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 64px;
    }

    .burgerIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid c.$icons;
      width: 50%;
    }

    .navlinks {
      gap: 10px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      cursor: pointer;
      
      @include dF.h1-font;

      @include mQ.tablet {
        max-width: 450px;

      }

      li {
        a,
        span {
          position: relative;
          color: c.$secondary;
          font-size: 12px;
          text-decoration: none;

          &:hover {
            color: c.$primary;

            &::after {
              position: absolute;
              right: 0;
              bottom: -21px;
              left: 0;
              background-color: c.$primary;
              height: 1px;
              content: '';
            }
          }

          &.active {
            color: c.$primary;

            &::after {
              position: absolute;
              right: 0;
              bottom: -21px;
              left: 0;
              background-color: c.$primary;
              height: 1px;
              content: '';
            }
          }
        }
      }
    }

    @include mQ.tablet {
      position: static;
      flex-direction: row;
      transform: none;
      width: 100%;
      height: auto;

      .navlinks {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .icons {
    display: flex;
    padding-left: 48px;

    .heart,
    .cart {
      position: relative;
      border: 1px solid c.$elements;
      padding: 24px;
      width: 16px;
      height: 16px;

      &:hover {
        border-color: c.$primary;

        &::after {
          position: absolute;
          background-color: c.$primary;
          content: '';
        }
      }

      @include mQ.phone {
        display: none;
      }

      @include mQ.tablet {
        display: flex;
      }

      @include mQ.desktop {
        display: flex;
      }
    }
  }

  .burger {
    display: none;
    border: 1px solid c.$elements;
    padding: 24px;
    width: 16px;
    height: 16px;

    &:hover {
      border-color: c.$primary;

      &::after {
        position: absolute;
        background-color: c.$primary;
        content: '';
      }
    }

    @include mQ.phone {
      display: flex;
    }

    @include mQ.tablet {
      display: none;
    }

    @include mQ.desktop {
      display: none;
    }
  }
}
