@import '/src/utils/desktopHeaderFonts';
@import '/src/utils/mobileHeaderFonts';
@import '/src/utils/mediaQueries.module';
@import '/src/constants/colors.module';

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $elements;
  background-color: $white;
  height: 64px;
  color: $primary;

  .divLogo {
    padding: 18px 24px;
    width: 80px;
    height: 28px;
  }

  .navbar {
    display: flex;
    flex: 1;
    align-items: center;
    margin-inline-start: 24px;

    @include tablet {
      margin-inline-start: 12px;
    }

    .navlinks {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      max-width: 425px;
      text-transform: uppercase;

      @include h1-font;

      @include tablet {
        max-width: 329px;
      }

      li {
        a {
          position: relative;
          color: #89939a;
          font-size: 12px;
          text-decoration: none;

          &:hover {
            color: $primary;

            &::after {
              position: absolute;
              right: 0;
              bottom: -21px;
              left: 0;
              background-color: $primary;
              height: 1px;
              content: '';
            }
          }

          &.active {
            color: $primary;

            &::after {
              position: absolute;
              right: 0;
              bottom: -21px;
              left: 0;
              background-color: $primary;
              height: 1px;
              content: '';
            }
          }
        }
      }
    }

    @include phone {
      display: none;
    }

    @include tablet {
      display: flex;
    }

    @include desktop {
      display: flex;
    }
  }

  .icons {
    display: flex;

    .heart,
    .cart {
      position: relative;
      border: 1px solid $elements;
      padding: 24px;
      width: 16px;
      height: 16px;

      &:hover {
        border-color: $primary;

        &::after {
          position: absolute;
          background-color: $primary;
          content: '';
        }
      }

      @include phone {
        display: none;
      }

      @include tablet {
        display: flex;
      }

      @include desktop {
        display: flex;
      }
    }
  }

  .burger {
    display: none;
    border: 1px solid $elements;
    padding: 24px;
    width: 16px;
    height: 16px;

    &:hover {
      border-color: $primary;

      &::after {
        position: absolute;
        background-color: $primary;
        content: '';
      }
    }

    @include phone {
      display: flex;
    }

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }
}
